<!-- <footer class="ui vertical footer segment">
  <div class="ui center aligned text container">

    <div class="ui section divider"></div>

    <div class="ui horizontal divided link list">
      <a href="#" class="item">
        <i class="fab fa-twitter-square fa-2x"></i>
      </a>
      <a href="#" class="item">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
      <a href="#" class="item">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="#" class="item">
        <i class="fab fa-github-square fa-2x"></i>
      </a>
    </div>

    <div class="ui horizontal divided link list">
      <div class="item"><i class="fal fa-copyright"></i> 2017 {{ site.title }}</div>
      <a class="item" href="#">Source</a>
      <a class="item" href="#">Colophon</a>
    </div>
  </div>
</footer> -->

<div class="ui inverted vertical footer segment">
  <div class="ui text container">
    <div class="ui stackable inverted grid">
      <div class="eight wide column">
        <div class="ui inverted horizontal divided link list">
          <div class="item"><i class="fal fa-copyright"></i> 2017 {{ site.title }}</div>
          <a class="item" href="#">Source</a>
          <a class="item" href="#">Colophon</a>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui right aligned container">
          <div class="ui inverted horizontal link list">
            <a href="https://twitter.com/{{ site.twitter_username }}" class="item" target="_blank">
              <i class="fab fa-twitter-square fa-2x"></i>
            </a>
            <a href="#" class="item">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a href="#" class="item">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="#" class="item">
              <i class="fab fa-github-square fa-2x"></i>
            </a>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- <footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer> -->
