<footer class="ui vertical footer main segment">
  <div class="ui text container">
    <div class="ui divider"></div>
    <div class="ui stackable grid">
      <div class="ten wide column">
        <div class="ui horizontal divided link list">
          <div class="item"><i class="fal fa-copyright"></i> 2018 {{ site.title }}</div>
          <a class="item" href="https://github.com/hathaway/hathaway.cc">Source</a>
          <a class="item" href="{% link colophon.md %}">Colophon</a>
        </div>
      </div>
      <div class="six wide column">
        <div class="ui right aligned container">
          <div class="ui horizontal link list">
            {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}" class="item" target="_blank">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
            {% endif %}
            {% if site.instagram_username %}
            <a href="https://www.instagram.com/{{ site.instagram_username }}/" class="item">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
            {% endif %}
            {% if site.linkedin_username %}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" class="item">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
            {% endif %}
            {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}" class="item">
              <i class="fab fa-github fa-2x"></i>
            </a>
            {% endif %}
            {% if site.keybase_username %}
            <a href="https://keybase.io/{{ site.keybase_username}}" class="item">
              <i class="fal fa-key fa-2x"></i>
            </a>
            {% endif %}
            {% if site.email %}
            <a href="mailto:ben@hathaway.cc" class="item">
              <i class="fal fa-envelope fa-2x"></i>
            </a>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
</footer>
