<header class='main container'>
  <div class="ui borderless secondary main menu">
    <div class="ui text container">
      <a class="brand header item" href="{{ "/" | relative_url }}">
        <img class="ui tiny circular image brand" src="{{ "/assets/images/profile.jpg" | relative_url }}" alt="{{ site.title | escape }}">
      </a>

      <div class="right menu">
      {% assign sorted_pages = (site.pages | sort: 'title') %}
      {% for my_page in sorted_pages %}
        {% if my_page.title and my_page.main_menu %}
        <a class="page item {% if page.url == my_page.url %}active{% endif %}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {% endif %}
      {% endfor %}
       </div>
    </div>
  </div>
</header>
