---
layout: default
---

<div class="home">

  <h1 class="page-heading">Articles</h1>

  {{ content }}

  <div class="ui divided link items">
    {% for post in site.posts %}
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <div class="item">
      <div class="content">
        <a class="header" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <div class="meta">
          <span>{{ post.date | date: date_format }}</span>
        </div>
        <div class="description">
          <p>{{ post.title | escape }}</p>
        </div>
        <div class="extra">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
